<div>
	<label>Subject Alternative name: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="The subject alternative name extension allows identities to be bound to the subject of the certificate.  These identities may be included in addition to or in place of the identity in the subject field of the certificate" id="blah"></i></label>
	<input type="text" maxlength="128" style="width:95%" placeholder="Type subject alternative name" class="form-control" id="txtAltName" />
</div><br/>