<h2> Templates </h2><hr/>
<br/>
<div class="input-group">
	<span  class="input-group-btn">
        <button title="Create new template" type="button" class="btn btn-default" aria-label="Left Align" id="btnCreate">
        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
        </button>
        <button style="margin-left:10px" title="Click to update the list of notes" type="button" class="btn btn-default" aria-label="Left Align" id="btnDelete">
        	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
   </span>
   <input style="margin-left:10px;width:60%" placeholder="Type text to search" type="text" class="form-control" id="txtSearch">   
</div><hr/>
{%include "panel.alert.html"%}
<div id="templatesList" class="content"></div>