<div>
	<label>Certificate policies: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="The certificate policies extension contains a sequence of one or more policy information terms, each of which consists of an object identifier (OID) and optional qualifiers.  Optional qualifiers, which MAY be present, are not expected to change the definition of the policy" id="blah"></i></label>
	<div>
		<div class="input-group" style="width:80%">
			<input type="text" class="form-control" id="txtPolicyID" placeholder="Specify Policy ID">
				<span class="input-group-btn"><button class="btn btn-default" id="btnAddPolicy" type="button">Add</button>
				</span>
		</div>
	<div>
		<table class="table" id="tblPolicies" style="width:80%">
			<thead>
				<th width="10%">#</th>
				<th>Policy ID</th>
			</thead>
			<tbody id="tbodyPolicies"></tbody>
		</table>
	</div>
	</div>
</div><br/>