<h2> Users </h2><hr/>
<br/>
<div class="input-group">
	<span  class="input-group-btn">
        <button title="Add new user" type="button" class="btn btn-default" aria-label="Left Align" id="btnAdd">
        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add user
        </button>
        <button style="margin-left:10px" title="Delete selected user(s)" type="button" class="btn btn-default" aria-label="Left Align" id="btnDelete">
        	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
   </span>
      
</div>
{%include "panel.alert.html"%}
<br/>
<div id="usersList"></div>