<br/>
<div class="row">
	<div class="col-md-12" style="margin:10px 10px 10px 10px">
		<!-- Template name -->
		<div>
			<label>Name:</label>
			<input type="text" maxlength="128" style="width:95%" placeholder="Type template's name" class="form-control" id="txtName" />
		</div><br/>
		<!-- Template description -->
		<div>
			<label>Description:</label>
			<textarea rows="5" style="width:95%" id="txtDscr" placeholder="Type template's description. Max. 256 characters" class="form-control"></textarea>
		</div><br/>	
		<div>
			<label>Key Length: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="This extension indicates one or more purposes for which the certified public key may be used, in addition to or in place of the basic purposes indicated in the key usage extension" id="blah"></i></label>
			<select id="txtKeylen" class="form-control" style="width:95%">
				<option value="512">512 bits</option>
				<option value="1024">1024 bits</option>
				<option value="2048">2048 bits</option>
				<option value="4096">4096 bits</option>
				<option value="8192">8192 bits</option>
			</select>
		</div><br/>
	</div>
</div>