{%extends "layout.html"%}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.min.css">
{% endblock %}
{%block body%}
	<div class="row">
		<div class="col-md-3" style="">
			{%include "nav.html"%}
		</div>
		<div class="col-md-9">
			{%include "mod_certificates/content.html"%}
		</div>
	</div>
{%endblock%}
{%block scripts%}
	<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/static/js/certificates.js"></script>
{%endblock%}