<br/><div class="row">
	<div class="col-md-12" style="margin:10px 10px 10px 10px">
		<!-- Template name -->
		<div>
			<label>Name: <i class="fa fa-info-circle" aria-hidden="true" rel="tooltip" title="Certificate Authority name. THis name will be used as CN value in the Subject DN field"></i></label>
			<input type="text" maxlength="128" style="width:95%" placeholder="Type CA's name" class="form-control" id="txtName" />
		</div><br/>
		<!-- Template description -->
		<div>
			<label>Description:</label>
			<textarea rows="5" style="width:95%" id="txtDscr" placeholder="Type Certificate Authority brief description. Max. 256 characters" class="form-control"></textarea>
		</div><br/>
	</div>
</div>