<br/>
<div class="input-group">
	<span  class="input-group-btn">
        <button title="Click to update the list of notes" type="button" class="btn btn-default" aria-label="Left Align" id="btnCreate">
        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new CA
        </button>
   </span>
   <input style="margin-left:10px;width:60%" placeholder="Type text to search" type="text" class="form-control" id="txtSearch">
   <button style="margin-left:10px" title="Apply filter" type="button" class="btn btn-default" aria-label="Left Align" id="btnFilter">
        	<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply
        </button>
   
</div><hr/>
<div id="caList"></div>